@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
  display: grid;
  place-content: center;
}

button
{
  cursor: pointer;
}

#container
{
  width: 37.5rem;
  height: 66.7rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#intro.playing
{
  display: none;
}
#intro
{
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: url(assets/bg.jpg)  center/cover no-repeat;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  color: #fff;
  font-size: 2rem;
}

#intro h1 
{
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;

  
}

#names-inputs
{
  width: 20rem;

  text-align: center;
  font-size: 1.1em;
}

#names-inputs input
{
  border-radius: 2rem;
  padding: .5rem 1rem;
}
#names-inputs input:focus
{
  outline: none;
}
#names-inputs button, #reset
{
  width: 10rem;
  margin-top: 2rem;
  
  background-color: #4C71B5;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}
#names-inputs button:hover 
{
  background-color: #2C4169;
}

/* game */
.game.load
{
  display: none;
}

.game
{
  width: 100%;
  height: 100%;
  background: linear-gradient(162.46deg, #00D2FF 0%, #3A7BD5 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  position: relative;
}

.game #exit
{
  position: absolute;
  top: 0;
  right: .5rem;
  
  padding: 1rem 2rem;
  background: none;
  border: none;

  color: white;
  font-size: 1.2em;
  letter-spacing: .2rem;
}

.game h2 
{
  color: #fff;
  letter-spacing: .2rem;
  font-weight: 400;
  text-shadow: .1rem .2rem 1rem black;
}

.game-board
{
  width: 32.4rem;
  height: 32.4rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2.8rem;
}
.table-game
{
  display: grid;
  grid-template-columns: 9rem 9rem 9rem;
  grid-template-rows: 9rem 9rem 9rem;
  gap: .3rem;
  width: 27rem;
  height: 27rem;
  background-color: #d3d3d3;
}
.table-game span 
{
  cursor: pointer;
  background-color: #fff;
  display: grid;
  place-content: center;
  transition: .4s;
}

.table-game span img
{
  width: 5rem;
}